<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".LionTalkApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Liontalk">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Liontalk">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- App Links -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Firebase Hosting 도메인 -->
                <data
                    android:scheme="https"
                    android:host="liontalk-6d44a.web.app"
                    android:pathPattern="/category/.*" />

                <data
                    android:scheme="https"
                    android:host="liontalk-6d44a.firebaseapp.com"
                    android:pathPattern="/category/.*" />
            </intent-filter>
        </activity>

        <!-- Kakao SDK 설정-->
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value=""/>

<!--        <meta-data-->
<!--            android:name="com.naver.sdk.ClientId"-->
<!--            android:value="네이버_Client_ID" />-->
    </application>

</manifest>